In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [29]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\DeAngelo\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
parsed_html = soup(html, 'html.parser')
first_div = parsed_html.select_one('div.list_text')

In [5]:
content_title = first_div.find('div', class_='content_title')
content_title.get_text()

"NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'"

In [6]:
body_text = first_div.find('div', class_='article_teaser_body')
body_text.get_text()

'A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.'

In [7]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [8]:
second_button = browser.find_by_tag('button')[1]
second_button.click()

In [9]:
html = browser.html
parsed_html = soup(html, 'html.parser')

In [10]:
img_url = parsed_html.find('img', class_='fancybox-image').get('src')
full_img_url = f'https://spaceimages-mars.com/{img_url}'
full_img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [11]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [12]:
df.columns=['Properties', 'Mars', 'Earth']
df.set_index('Properties', inplace=True)
df

                                    Mars            Earth
Properties
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [13]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Properties</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [31]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [ ]:
img_url = parsed_html.find_all('h3')[0].get_text()
img_url

In [17]:
hemisphere_image_urls = []
links = parsed_html.find_all('img', class_='thumb')
links

[]

In [33]:
new_headline = parsed_html.find_all('h1')
new_headline

[<h1 class="media_feature_title">Dusty Space Cloud</h1>,
 <h1>Images</h1>,
 <h1>You Might Also Like</h1>]

In [19]:



# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(2):
    hemisphere = {}
    browser.find_by_tag('img.thumb')[i].click()
    new_link = browser.links.find_by_text('Sample').first['href']    
    hemisphere['img_url'] = new_link
    new_headline = parsed_html.find_all('h3')[0].get_text()
    hemisphere['title'] = new_headline
    
    hemisphere_image_urls.append(hemisphere)
    browser.back()

IndexError: list index out of range

In [ ]:
hemisphere_image_urls